$main-color: #0073cc;

.presentation, .why-website {
    position: relative;
    text-align: justify;
    background: rgba($color: $main-color, $alpha: 0.2);
    padding: 2%;
    border-radius: 10px;
    width: 100%;
}

.why-website {
    margin-top: 30px;
}

.others-blogs-logo {
    width: 20%;
    background: white;
    border-radius: 10px;
    padding: 2%;
}

.aside-picture {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
    width: 97%;
}