$main-color: #0073cc;

/* Bootstrap carousel */
#carouselExampleCaptions {
    .carousel-inner .carousel-caption h5, .carousel-inner .carousel-caption p {
        text-shadow: 2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, -2px 0 0 black, 
        2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black;
    }
    .carousel-inner .carousel-caption h5 {
        font-size: 3vw;
        position: relative;

    }
    .carousel-inner .carousel-caption p {
        font-size: 1.125vw;
    }
}

.carousel-inner {
    box-shadow: 0 10px 10px grey;
}

.carousel-indicators {
    bottom: -15px;
    z-index: 1;
}
/* End of Bootstrap carousel */

.social-insta {
    grid-area: social;
    margin-top: 50px;
    margin-left: 12.5%;
    width: 75%;
}

/* Bypass block to hide the elfsight pub of widget */
.white-block {
    width: 100%;
    height: 50px;
    background: white;
    position: relative;
    bottom: 50px;
    z-index: 99999;
}