$text-menu-color: #737373;
$main-color: #0073cc;
$font-menu: 'Cabin', sans-serif;
$body-color: rgb(245, 238, 225);

.head-picture {
    width: 100%;
    box-shadow: 0 10px 10px grey;
}

h1 {
    font-size: 3vw;
    color: white;
    text-align: center;
    background: rgba($color: $main-color, $alpha: 0.7);
    width: 75vw;
    margin-left: auto;
    margin-right:auto;
    box-shadow: 0 10px 10px grey;
    border-radius: 0 10px 10px 0;
    position: absolute;
    top: 5%;
}

.card {
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 10px grey;
    margin: 20px;
}

.card-img-top {
    border-radius: 5px 5px 0 0;
    width: 100%;
    margin-top: 10px;
}

h5 {
    font-weight: 500;
    font-size: 1.5em;
}

.card-text {
    font-weight: 200;
    font-size: 1em;
}

.discover-button {
    font-size: 1em;
    &:hover {
        border: 1px solid $main-color;
    }
}

@media screen and (max-width: 576px) {
    body {
        grid-template-areas: 
        "nav nav nav nav nav"
        "header header header header header"
        "aside-left aside-left aside-left aside-left aside-left"
        "main main main main main"
        "aside-right aside-right aside-right aside-right aside-right"
        "footer footer footer footer footer";
    }
    aside-left, aside-right {
        display: flex;
        flex-direction: row;
    }
    .aside-picture {
        width: 16%;
        margin: 0;
        padding: 0;

    }

}
