$main-color: #0073cc;

body{
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "header header header header header"
    "aside-left main main main aside-right"
    "social social social social social";
}

header {
    grid-area: header;
    position: relative;
}

.head-picture {
    position: relative;
    top: 40px;
    width: 100vw;
    box-shadow: 0 10px 10px grey;
}

aside-left {
    grid-area: aside-left;
}

main {
    grid-area: main;
    margin-top: 70px;
}

aside-right {
    grid-area: aside-right;
}

aside-left, aside-right {
    position: relative;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

h1 {
    font-size: 3vw;
    color: white;
    text-align: center;
    background: rgba($color: $main-color, $alpha: 0.7);
    width: 75vw;
    margin-left: auto;
    margin-right:auto;
    box-shadow: 0 10px 10px grey;
    border-radius: 0 10px 10px 0;
    position: absolute;
    top: 5%;
    padding-bottom: 15px;
    margin-top: 50px;
}

article {
    position: relative;
}

.card {
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 10px grey;
    margin: 20px;
}

.card-img-top {
    border-radius: 5px 5px 0 0;
    width: 100%;
    margin-top: 10px;
}

h5 {
    font-weight: 500;
    font-size: 1.5em;
}

.card-text {
    text-align: justify;
    font-weight: 200;
    font-size: 1em;
}

.discover-button {
    font-size: 1em;
    &:hover {
        border: 1px solid rgba($color: $main-color, $alpha: 0.7);
    }
}