$text-menu-color: #737373;
$main-color: #0073cc;
$font-menu: 'Cabin', sans-serif;
$body-color: rgb(245, 238, 225);

.presentation, .why-website {
    text-align: justify;
    background: rgba($color: $main-color, $alpha: 0.2);
    padding: 2%;
    border-radius: 10px;
    width: 100%;
}

.why-website {
    margin-top: 30px;
}

.others-blogs-logo {
    width: 20%;
    background: white;
    border-radius: 10px;
    padding: 2%;
}

.aside-picture {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
    width: 97%;
}

.last-aside-picture {
    margin-bottom: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.impact-list {
    margin-bottom: 20px;
}

.world-tour-link {
    text-decoration: none;
    background: darken($color: $main-color, $amount: 10);
    color: white;
    border-radius: 5px;
    padding: 2px;
    &:hover {
        color: darken($color: $main-color, $amount: 10);
        background: white;
    }
}

@media screen and (max-width: 1199px) {
    body {
        grid-template-areas: 
        "nav nav nav nav nav"
        "header header header header header"
        "aside-left aside-left aside-left aside-left aside-left"
        "main main main main main"
        "aside-right aside-right aside-right aside-right aside-right"
        "footer footer footer footer footer";
    }
    aside-left, aside-right {
        display: flex;
        flex-direction: row;
    }
    .aside-picture {
        width: 16%;
        margin: 0;
        padding: 0;

    }

}