$text-menu-color: #737373;
$main-color: #0073cc;
$font-menu: 'Cabin', sans-serif;

body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "nav nav nav nav nav"
    "header header header header header"
    "aside-left main main main aside-right"
    "social social social social social"
    "footer footer footer footer footer";
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

aside-left {
    grid-area: aside-left;
    margin-top: 40px;
}

main {
    grid-area: main;
    font-family: 'Raleway', sans-serif;
    margin-top: 40px;
}

aside-right {
    grid-area: aside-right;
}

aside-left, aside-right {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

footer {
    grid-area: footer;
    background: darken($color: $main-color, $amount: 10);
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: 25px;
    margin-top: 40px;
}

.footer-mytravels-link {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    &:hover {
        color: darken($color: $main-color, $amount: 10);
        background: white;
    }
}

.mentions {
    text-decoration: none;
    color: darken($color: $main-color, $amount: 10);
    background: white;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid darken($color: $main-color, $amount: 10);
    &:hover {
        border: 1px solid white;
        color: white;
        background: darken($color: $main-color, $amount: 10);
    }
}

.social {
    margin: 10px;
}

.social-item {
    margin: 10px;
    width: 25px;
    color: white;
}

/* Main navbar */
.navbar {
    font-family: $font-menu;
    width: 100vw;
    padding: 0;
    z-index: 2;
}

.navbar > .container-fluid > .navbar-brand, .navbar > .container-fluid  .collapse > .navbar-nav > .nav-item .active {
 color: $main-color;
 font-weight: bold;
}

.bi-search {
    color: $text-menu-color;
}

.navbar-toggler {
    border: none;
    width: 40px;
    height: 30px;
    &:focus {
        box-shadow: none;
    }
}

/* displayable block DESTINATIONS hover (SMALL menu for Destinations Menu, resolution < 992px) */
@media screen and (max-width: 991px) {
    #destinations:hover .destinations-menu-small {
        display: block;
    }
}

.destinations-menu-small {
    display: none;
}

.destinations-menu-content-small {
    border: $main-color solid 1px;
    border-radius: 5px;
}

.map-continent-small {
    &:hover {
        background: darken($color: $main-color, $amount: 10);
    }
    &:hover .continent-name-small {
        color: white;
    }
    &:hover .countries-small {
        border-top: 1px solid white;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.continent-name-small {
    color: $main-color;
    margin-left: 20px;
    font-family: $font-menu;
    font-weight: 400;
}

.africa-small {
    &:hover .africa-countries-small {
        display: block;
    }
}

.north-america-small {
    &:hover .north-america-countries-small {
        display: block;
    }
}

.south-america-small {
    &:hover .south-america-countries-small {
        display: block;
    }
}

.asia-small {
    &:hover .asia-countries-small {
        display: block;
    }
}

.europe-small {
    &:hover .europe-countries-small {
        display: block;
    }
}

.oceania-small {
    &:hover .oceania-countries-small {
        display: block;
    }
}

.countries-small {
    display: none;
    background: darken($color: $main-color, $amount: 10);
}

.countries-list-small {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    li {
        &:hover {
            background: white;
            border-radius: 5px;
            a {
                color: darken($color: $main-color, $amount: 10);
            }
        }
    }
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: white;
        padding: 0.3em;
        font-size: 0.7em;
    }
}

.flag-small {
    width: 22.5px;
    height: 15px;
    border-radius: 4px;
}
/* END of displayable block DESTINATIONS hover (SMALL menu for Destinations Menu, resolution < 992px) */

/* displayable block DESTINATIONS hover (BIG menu for Destinations Menu, resolution >= 992px) */
@media screen and (min-width: 992px) {
    #destinations:hover .destinations-menu {
        display: block;
    }
}

.destinations-menu {
    display: none;
    position: fixed;
    top: 40px;
    left: 5vw;
}

.destinations-menu-content {
    display: flex;
    justify-content: space-around;
    width: 90vw;
    height: 100%;
    border-top: $main-color solid 3px;
    background-color: rgba($color: white, $alpha: 0.6);
}

.map-continent {
    width: 17%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    &:hover {
        background: darken($color: $main-color, $amount: 10);
    }
    &:hover .map {
        color: white;
    }
    &:hover .continent-name {
        color: white;
    }
}

.continent-name {
    color: $main-color;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: $font-menu;
    font-weight: 400;
}

.map {
    color: $main-color;
}

.africa {
    position: relative;
    &:hover .africa-countries {
        display: block;
    }
}

.north-america {
    position: relative;
    &:hover .north-america-countries {
        display: block;
    }
}

.south-america {
    position: relative;
    &:hover .south-america-countries {
        display: block;
    }
}

.asia {
    position: relative;
    &:hover .asia-countries {
        display: block;
    }
}

.europe {
    position: relative;
    &:hover .europe-countries {
        display: block;
    }
}

.oceania {
    position: relative;
    &:hover .oceania-countries {
        display: block;
    }
}

.countries {
    display: none;
    position: absolute;
    top: 100%;
    width: 600%;
    background: darken($color: $main-color, $amount: 10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.africa-countries {
    left: 0;
}

.north-america-countries {
    left: -100%;
}

.south-america-countries {
    left: -200%;
}

.asia-countries {
    left: -300%;
}

.europe-countries {
    left: -400%;
}

.oceania-countries {
    left: -500%;
}

.countries-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 1em;
    margin-bottom: 1em;
    li {
        margin: 10px;
    }
    a {
        text-decoration: none;
        color: white;
        padding: 0.5em;
        &:hover {
            color: darken($color: $main-color, $amount: 10);
            background: white;
            border-radius: 10px;
        }
    }
}

.flag {
    width: 30px;
    height: 20px;
    margin-right: 8px;
    border-radius: 4px;
}
/* END of displayable block DESTINATIONS hover (BIG menu for Destinations Menu, resolution >= 992px) */

/* displayable block A PROPOS hover */
@media screen and (min-width: 992px) {
    .apropos-menu {
        position: absolute;
        top: 40px;
        width: 150px;
        border-top: $main-color solid 3px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }  
    .contact:hover {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

@media screen and (max-width: 991px) {
    .apropos-menu {
        border: $main-color solid 1px;
        border-radius: 5px;
    }
}

#apropos {
    position: relative;
    &:hover .apropos-menu {
        display: block;
    }
}

.apropos-menu {
    display: none;
    background-color: rgba($color: white, $alpha: 0.6);
}

.apropos-menu-item {
    &:hover {
        background: darken($color: $main-color, $amount: 10);
        > a {
            color: white;
        }
    }
    > a {
        text-decoration: none;
        color: $main-color;
        margin-left: 20px;
        font-family: $font-menu;
        font-weight: 400;
        width: 150px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
/* END of displayable block A PROPOS hover */

/* Modal Window for CONTACT in A Propos Menu */
.modal-title {
    color: $main-color;
}

.btn-contact-send {
    background: $main-color;
    color: white;
    border: 1px solid $main-color;
    &:hover {
        background: white;
        color: $main-color;
        border: 1px solid $main-color;
    }
}

.btn-contact-cancel {
    background: #5C636A;
    color: white;
    border: 1px solid #5C636A;
    &:hover {
        background: white;
        color: #5C636A;
        border: 1px solid #5C636A;
    }
}
/* END of Modal Window for CONTACT in A Propos Menu */

/* Modal Window for SEARCH in Main-Menu */

.search-modal {
    background: rgba($color: white, $alpha: 0.6);
}

.search-modal-content {
    margin-top: 40vh;
}

.btn-close-search {
    position: relative;
    left: 87vw;
}

.search-input {
    width: 75vw;
    position: relative;
    left: 12.5vw;
    font-size: 2em;
    margin-bottom: 25px;
}

.btn-search {
    width: 20%;
    min-width: 200px;
    position: relative;
    left: 40%;
    font-size: 2em;
    background: $main-color;
    color: white;
    border: 1px solid $main-color;
    &:hover {
        background: white;
        color: $main-color;
        border: 1px solid $main-color;
    }
}
/* END of Modal Window for SEARCH in Main-Menu */

.discover-button {
    text-decoration: none;
    color: white;
    padding: 0.4em;
    background: rgba($color: $main-color, $alpha: 0.7);
    border-radius: 10px;
    font-size: 1.5em;
    margin-top: 100px;
    margin-bottom: 100px;
    &:hover {
        background: rgba($color: white, $alpha: 0.7);
        color: $main-color
    }
}

.carousel-caption > .discover-button {
    font-size: 1.2vw;
    > .bi-chevron-right {
        width: 1.5vw;
    }
}