body {
  background-color: #f5eee1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas: "nav nav nav nav nav" "header header header header header" "aside-left main main main aside-right" "social social social social social" "footer footer footer footer footer";
}

nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: nav;
  background-color: #f5eee1;
}

header {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: header;
}

aside-left, aside-right, main, footer {
  margin-top: 40px;
}

aside-left {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: aside-left;
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: main;
  font-family: 'Raleway', sans-serif;
}

aside-right {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: aside-right;
}

aside-left, aside-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway', sans-serif;
}

footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: footer;
  background: #005699;
  color: white;
  font-family: 'Raleway', sans-serif;
  padding: 25px;
}

.footer-mytravels-link {
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.footer-mytravels-link:hover {
  color: #005699;
  background: white;
}

.mentions {
  text-decoration: none;
  color: #005699;
  background: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #005699;
}

.mentions:hover {
  border: 1px solid white;
  color: white;
  background: #005699;
}

.social {
  margin: 10px;
}

.social-item {
  margin: 10px;
  width: 25px;
  color: white;
}

/* Main navbar */
.navbar {
  font-family: "Cabin", sans-serif;
  width: 100vw;
  padding: 0;
  z-index: 2;
  border-bottom: #0073cc solid 3px;
}

.nav-logo {
  width: 25px;
}

.navbar > .container-fluid > .navbar-brand, .navbar > .container-fluid .collapse > .navbar-nav > .nav-item .active {
  color: #0073cc;
  font-weight: bold;
}

.bi-search {
  color: #737373;
}

.navbar-toggler {
  border: none;
  width: 40px;
  height: 30px;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* displayable block DESTINATIONS hover (SMALL menu for Destinations Menu, resolution < 992px) */
@media screen and (max-width: 991px) {
  #destinations:hover .destinations-menu-small {
    display: block;
  }
}

.destinations-menu-small {
  display: none;
}

.destinations-menu-content-small {
  border: #0073cc solid 1px;
  border-radius: 5px;
}

.map-continent-small:hover {
  background: #005699;
}

.map-continent-small:hover .continent-name-small {
  color: white;
}

.map-continent-small:hover .countries-small {
  border-top: 1px solid white;
  margin-left: 20px;
  margin-right: 20px;
}

.continent-name-small {
  color: #0073cc;
  margin-left: 20px;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
}

.africa-small:hover .africa-countries-small {
  display: block;
}

.north-america-small:hover .north-america-countries-small {
  display: block;
}

.south-america-small:hover .south-america-countries-small {
  display: block;
}

.asia-small:hover .asia-countries-small {
  display: block;
}

.europe-small:hover .europe-countries-small {
  display: block;
}

.oceania-small:hover .oceania-countries-small {
  display: block;
}

.countries-small {
  display: none;
  background: #005699;
}

.countries-list-small {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.countries-list-small li:hover {
  background: white;
  border-radius: 5px;
}

.countries-list-small li:hover a {
  color: #005699;
}

.countries-list-small a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  padding: 0.3em;
  font-size: 0.7em;
}

@media screen and (min-width: 400px) {
  .countries-list-small {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 500px) {
  .countries-list-small {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .countries-list-small {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

.flag-small {
  width: 22.5px;
  height: 15px;
  border-radius: 4px;
}

/* END of displayable block DESTINATIONS hover (SMALL menu for Destinations Menu, resolution < 992px) */
/* displayable block DESTINATIONS hover (BIG menu for Destinations Menu, resolution >= 992px) */
@media screen and (min-width: 992px) {
  #destinations:hover .destinations-menu {
    display: block;
  }
}

.destinations-menu {
  display: none;
  position: fixed;
  top: 40px;
  left: 5vw;
}

.destinations-menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90vw;
  height: 100%;
  border-top: #0073cc solid 3px;
  background-color: rgba(255, 255, 255, 0.6);
}

.map-continent {
  width: 17%;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map-continent:hover {
  background: #005699;
}

.map-continent:hover .map {
  color: white;
}

.map-continent:hover .continent-name {
  color: white;
}

.continent-name {
  color: #0073cc;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
}

.map {
  color: #0073cc;
}

.africa {
  position: relative;
}

.africa:hover .africa-countries {
  display: block;
}

.north-america {
  position: relative;
}

.north-america:hover .north-america-countries {
  display: block;
}

.south-america {
  position: relative;
}

.south-america:hover .south-america-countries {
  display: block;
}

.asia {
  position: relative;
}

.asia:hover .asia-countries {
  display: block;
}

.europe {
  position: relative;
}

.europe:hover .europe-countries {
  display: block;
}

.oceania {
  position: relative;
}

.oceania:hover .oceania-countries {
  display: block;
}

.countries {
  display: none;
  position: absolute;
  top: 100%;
  width: 600%;
  background: #005699;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.africa-countries {
  left: 0;
}

.north-america-countries {
  left: -100%;
}

.south-america-countries {
  left: -200%;
}

.asia-countries {
  left: -300%;
}

.europe-countries {
  left: -400%;
}

.oceania-countries {
  left: -500%;
}

.countries-list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-top: 1em;
  margin-bottom: 1em;
}

.countries-list li {
  margin: 10px;
}

.countries-list a {
  text-decoration: none;
  color: white;
  padding: 0.5em;
}

.countries-list a:hover {
  color: #005699;
  background: white;
  border-radius: 10px;
}

@media screen and (min-width: 1100px) and (max-width: 1299px) {
  .countries-list {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1300px) {
  .countries-list {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

/* @media screen and (max-width: 1099px) {
    .countries-list {
        grid-template-columns: repeat(4, 1fr);
    }
} */
.flag {
  width: 30px;
  height: 20px;
  margin-right: 8px;
  border-radius: 4px;
}

/* END of displayable block DESTINATIONS hover (BIG menu for Destinations Menu, resolution >= 992px) */
/* displayable block A PROPOS hover */
@media screen and (min-width: 992px) {
  .apropos-menu {
    position: absolute;
    top: 40px;
    width: 150px;
    border-top: #0073cc solid 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .contact:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

@media screen and (max-width: 991px) {
  .apropos-menu {
    border: #0073cc solid 1px;
    border-radius: 5px;
  }
}

#apropos {
  position: relative;
}

#apropos:hover .apropos-menu {
  display: block;
}

.apropos-menu {
  display: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.apropos-menu-item:hover {
  background: #005699;
}

.apropos-menu-item:hover > a {
  color: white;
}

.apropos-menu-item > a {
  text-decoration: none;
  color: #0073cc;
  margin-left: 20px;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* END of displayable block A PROPOS hover */
/* Modal Window for CONTACT in A Propos Menu */
.contact-modal {
  background: #f5eee1;
}

.modal-title {
  color: #0073cc;
}

.btn-contact-send {
  background: #0073cc;
  color: white;
  border: 1px solid #0073cc;
}

.btn-contact-send:hover {
  background: white;
  color: #0073cc;
  border: 1px solid #0073cc;
}

.btn-contact-cancel {
  background: #5C636A;
  color: white;
  border: 1px solid #5C636A;
}

.btn-contact-cancel:hover {
  background: white;
  color: #5C636A;
  border: 1px solid #5C636A;
}

/* END of Modal Window for CONTACT in A Propos Menu */
/* Modal Window for SEARCH in Main-Menu */
.search-modal {
  background: rgba(255, 255, 255, 0.6);
}

.search-modal-content {
  margin-top: 40vh;
}

.btn-close-search {
  position: relative;
  left: 87vw;
}

.search-input {
  width: 75vw;
  position: relative;
  left: 12.5vw;
  font-size: 2em;
  margin-bottom: 25px;
}

.btn-search {
  width: 20%;
  min-width: 200px;
  position: relative;
  left: 40%;
  font-size: 2em;
  background: #0073cc;
  color: white;
  border: 1px solid #0073cc;
}

.btn-search:hover {
  background: white;
  color: #0073cc;
  border: 1px solid #0073cc;
}

/* END of Modal Window for SEARCH in Main-Menu */
.discover-button {
  text-decoration: none;
  color: white;
  padding: 0.4em;
  background: #0073cc;
  border-radius: 10px;
  font-size: 1.5em;
  margin-top: 100px;
  margin-bottom: 100px;
}

.discover-button:hover {
  background: rgba(255, 255, 255, 0.7);
  color: #0073cc;
}

.carousel-caption > .discover-button {
  font-size: 1.2vw;
}

.carousel-caption > .discover-button > .bi-chevron-right {
  width: 1.5vw;
}

strong {
  color: #0073cc;
}
/*# sourceMappingURL=structure-style.css.map */