$text-menu-color: #737373;
$main-color: #0073cc;
$font-menu: 'Cabin', sans-serif;

/* Main navbar */
.navbar {
    font-family: $font-menu;
    width: 100vw;
    position: fixed;
    height: 40px;
    z-index: 2;
}

.navbar > .container-fluid  .collapse > .navbar-nav > .nav-item .active {
 color: $main-color;
 font-weight: bold;
}

.search {
    color: $text-menu-color;
}

/* Displayable block DESTINATIONS hover (Big menu for Destinations Menu) */
#destinations:hover .destinations-menu {
    display: block;
}

.destinations-menu {
    display: none;
    position: fixed;
    left: 5vw;
}

.destinations-menu-content {
    display: flex;
    justify-content: space-around;
    width: 90vw;
    height: 100%;
    border-top: $main-color solid 3px;
    background-color: rgba($color: white, $alpha: 0.6);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.map-continent {
    width: 17%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    &:hover {
        background: darken($color: $main-color, $amount: 10);
    }
    &:hover .map {
        color: white;
    }
    &:hover .continent-name {
        color: white;
    }
}

.continent-name {
    color: $main-color;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: $font-menu;
    font-weight: 400;
}

.map {
    color: $main-color;
}

.africa {
    position: relative;
    &:hover .africa-countries {
        display: block;
    }
}

.north-america {
    position: relative;
    &:hover .north-america-countries {
        display: block;
    }
}

.south-america {
    position: relative;
    &:hover .south-america-countries {
        display: block;
    }
}

.asia {
    position: relative;
    &:hover .asia-countries {
        display: block;
    }
}

.europe {
    position: relative;
    &:hover .europe-countries {
        display: block;
    }
}

.oceania {
    position: relative;
    &:hover .oceania-countries {
        display: block;
    }
}

.countries {
    display: none;
    position: absolute;
    top: 100%;
    width: 600%;
    background: darken($color: $main-color, $amount: 10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.africa-countries {
    left: 0;
}

.north-america-countries {
    left: -100%;
}

.south-america-countries {
    left: -200%;
}

.asia-countries {
    left: -300%;
}

.europe-countries {
    left: -400%;
}

.oceania-countries {
    left: -500%;
}

.countries-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 1em;
    margin-bottom: 1em;
    li {
        margin: 10px;
    }
    a {
        text-decoration: none;
        color: white;
        padding: 0.5em;
        &:hover {
            color: darken($color: $main-color, $amount: 10);
            background: white;
            border-radius: 10px;
        }
    }
}

.flag {
    width: 30px;
    height: 20px;
    margin-right: 8px;
    border-radius: 4px;
}
/* END of displayable block DESTINATIONS hover (Big menu for Destinations Menu) */

/* Bootstrap carousel */
#carouselExampleCaptions {
    position: relative;
    top: 40px;
    .carousel-inner .carousel-caption h5, .carousel-inner .carousel-caption p {
        text-shadow: 2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, -2px 0 0 black, 
        2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black;
    }
    .carousel-inner .carousel-caption h5 {
        font-size: 4em;
    }
    .carousel-inner .carousel-caption p {
        font-size: 1.5em;
    }
}

.discover-button {
    text-decoration: none;
    color: white;
    padding: 0.4em;
    background: rgba($color: $main-color, $alpha: 0.7);
    border-radius: 10px;
    font-size: 1.5em;
    margin-top: 100px;
    margin-bottom: 100px;
    &:hover {
        background: rgba($color: white, $alpha: 0.7);
        color: $main-color
    }
}

.carousel-inner {
    box-shadow: 0 10px 10px grey;
}

.carousel-indicators {
    bottom: -15px;
}
/* End of Bootstrap carousel */

/* Page a-propos.html */

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    grid-template-areas: 
    "header header header header"
    "aside-left main main aside-right"
    "footer footer footer footer";
}

header {
    grid-area: header;
}

.head-picture {
    position: relative;
    top: 40px;
    width: 100vw;
    box-shadow: 0 10px 10px grey;
}

aside-left {
    grid-area: aside-left;
}

main {
    grid-area: main;
}
.presentation, .why-website {
    position: relative;
    top: 10px;
    margin-top: 70px;
    text-align: justify;
    background: rgba($color: $main-color, $alpha: 0.2);
    padding: 2%;
    border-radius: 10px;
}

.others-blogs-logo {
    width: 20%;
    background: white;
    border-radius: 10px;
    padding: 2%;
}

aside-right {
    grid-area: aside-right;
}

aside-left, aside-right {
    position: relative;
    top: 10px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.aside-picture {
    margin: 1%;
    border-radius: 10px;
}