/* Main navbar */
.navbar {
  font-family: "Cabin", sans-serif;
  width: 100vw;
  position: fixed;
  height: 40px;
  z-index: 2;
}

.navbar > .container-fluid .collapse > .navbar-nav > .nav-item .active {
  color: #0073cc;
  font-weight: bold;
}

.search {
  color: #737373;
}

/* Displayable block DESTINATIONS hover (Big menu for Destinations Menu) */
#destinations:hover .destinations-menu {
  display: block;
}

.destinations-menu {
  display: none;
  position: fixed;
  left: 5vw;
}

.destinations-menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90vw;
  height: 100%;
  border-top: #0073cc solid 3px;
  background-color: rgba(255, 255, 255, 0.6);
  /*     border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}

.map-continent {
  width: 17%;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map-continent:hover {
  background: #005699;
}

.map-continent:hover .map {
  color: white;
}

.map-continent:hover .continent-name {
  color: white;
}

.continent-name {
  color: #0073cc;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
}

.map {
  color: #0073cc;
}

.africa {
  position: relative;
}

.africa:hover .africa-countries {
  display: block;
}

.north-america {
  position: relative;
}

.north-america:hover .north-america-countries {
  display: block;
}

.south-america {
  position: relative;
}

.south-america:hover .south-america-countries {
  display: block;
}

.asia {
  position: relative;
}

.asia:hover .asia-countries {
  display: block;
}

.europe {
  position: relative;
}

.europe:hover .europe-countries {
  display: block;
}

.oceania {
  position: relative;
}

.oceania:hover .oceania-countries {
  display: block;
}

.countries {
  display: none;
  position: absolute;
  top: 100%;
  width: 600%;
  background: #005699;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.africa-countries {
  left: 0;
}

.north-america-countries {
  left: -100%;
}

.south-america-countries {
  left: -200%;
}

.asia-countries {
  left: -300%;
}

.europe-countries {
  left: -400%;
}

.oceania-countries {
  left: -500%;
}

.countries-list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  margin-top: 1em;
  margin-bottom: 1em;
}

.countries-list li {
  margin: 10px;
}

.countries-list a {
  text-decoration: none;
  color: white;
  padding: 0.5em;
}

.countries-list a:hover {
  color: #005699;
  background: white;
  border-radius: 10px;
}

.flag {
  width: 30px;
  height: 20px;
  margin-right: 8px;
  border-radius: 4px;
}

/* END of displayable block DESTINATIONS hover (Big menu for Destinations Menu) */
/* Displayable block RESSOURCES hover (Big menu for Ressources Menu) */
#ressources:hover .ressources-menu {
  display: block;
}

.ressources-menu {
  display: none;
  position: fixed;
  left: 25vw;
}

.ressources-menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50vw;
  height: 100%;
  border-top: #0073cc solid 3px;
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.logo-ressource {
  width: 20%;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo-ressource:hover {
  background: #005699;
}

.logo-ressource:hover .svg-ressource {
  color: white;
}

.logo-ressource:hover .ressource-name {
  color: white;
}

.ressource-name {
  color: #0073cc;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
}

.svg-ressource {
  color: #0073cc;
  width: 25%;
}

.camera {
  position: relative;
}

.camera:hover .africa-countries {
  display: block;
}

.application {
  position: relative;
}

.application:hover .north-america-countries {
  display: block;
}

.laptop {
  position: relative;
}

.laptop:hover .south-america-countries {
  display: block;
}

.backpack {
  position: relative;
}

.backpack:hover .asia-countries {
  display: block;
}

.passport {
  position: relative;
}

.passport:hover .europe-countries {
  display: block;
}

.ressources-items {
  display: none;
  position: absolute;
  top: 100%;
  width: 600%;
  background: #005699;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.camera-items {
  left: 0;
}

.application-items {
  left: -100%;
}

.laptop-items {
  left: -200%;
}

.backpack-items {
  left: -300%;
}

.passport-items {
  left: -400%;
}

.ressources-items-list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  margin-top: 1em;
  margin-bottom: 1em;
}

.ressources-items-list li {
  margin: 10px;
}

.ressources-items-list a {
  text-decoration: none;
  color: white;
  padding: 0.5em;
}

.ressources-items-list a:hover {
  color: #005699;
  background: white;
  border-radius: 10px;
}

.flag {
  width: 30px;
  height: 20px;
  margin-right: 8px;
  border-radius: 4px;
}

/* END of displayable block RESSOURCES hover (Big menu for Ressources Menu) */
/* Bootstrap carousel */
#carouselExampleCaptions {
  position: relative;
  top: 40px;
}

#carouselExampleCaptions .carousel-inner .carousel-caption h5, #carouselExampleCaptions .carousel-inner .carousel-caption p {
  text-shadow: 2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, -2px 0 0 black,  2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black;
}

#carouselExampleCaptions .carousel-inner .carousel-caption h5 {
  font-size: 4em;
}

#carouselExampleCaptions .carousel-inner .carousel-caption p {
  font-size: 1.5em;
}

.discover-button {
  text-decoration: none;
  color: white;
  padding: 0.4em;
  background: rgba(0, 115, 204, 0.7);
  border-radius: 10px;
  font-size: 1.5em;
  margin-top: 100px;
  margin-bottom: 100px;
}

.discover-button:hover {
  background: rgba(255, 255, 255, 0.7);
  color: #0073cc;
}

.carousel-inner {
  -webkit-box-shadow: 0 10px 10px grey;
          box-shadow: 0 10px 10px grey;
}

.carousel-indicators {
  bottom: -15px;
}

/* End of Bootstrap carousel */
/* Page a-propos.html */
.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
      grid-template-areas: "header header header header" "aside-left main main aside-right" "footer footer footer footer";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
}

.head-picture {
  position: relative;
  top: 40px;
  width: 100vw;
  -webkit-box-shadow: 0 10px 10px grey;
          box-shadow: 0 10px 10px grey;
}

aside-left {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aside-left;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: main;
}

.presentation, .why-website {
  position: relative;
  top: 10px;
  margin-top: 70px;
  text-align: justify;
  background: rgba(0, 115, 204, 0.2);
  padding: 2%;
  border-radius: 10px;
}

.others-blogs-logo {
  width: 20%;
  background: white;
  border-radius: 10px;
  padding: 2%;
}

aside-right {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: aside-right;
}

aside-left, aside-right {
  position: relative;
  top: 10px;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.aside-picture {
  margin: 1%;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */